<!--The content below is only a placeholder and can be replaced.-->
<header class="header text-center">
    <div><h4> Users and Posts Section</h4></div>
</header>
<main class="main">  
  <div *ngIf="tabs"> 
    <tabset>
      <tab *ngFor="let tabItem of tabs"
           [heading]="tabItem.title"
           [active]="tabItem.active"
           (select)="selectedTab(tabItem)"
           (deselect)="tabItem.active = false">
      </tab>
    </tabset>
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <router-outlet></router-outlet>  
      </div>
    </div>
  </div>
</main>
